### ADX

In [1]:
import numpy as np
import pandas as pd

In [2]:
adx_data_copy = pd.read_excel("cs-adx.xlsx")
adx_data_copy

,Unnamed: 0,High,Low,Close,TR,+DM 1,-DM 1,TR14,+DM14,-DM14,+DI14,-DI14,DI 14 Diff,DI 14 Sum,DX,ADX
0,2010-07-09,44.5261,43.9774,44.5161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-07-12,44.9252,44.3565,44.6458,0.5687,0.3991,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-07-13,45.3941,44.6957,45.2245,0.7483,0.4689,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-07-14,45.7034,45.1347,45.4539,0.5687,0.3093,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-07-15,45.6335,44.8853,45.4938,0.7482,0.0000,0.2494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2010-07-16,45.5219,44.1969,44.2368,1.3250,0.0000,0.6884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010-07-19,44.7057,43.9973,44.6159,0.7084,0.0000,0.1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010-07-20,45.1546,43.7579,45.1546,1.3967,0.4489,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2010-07-21,45.6535,44.4563,44.5361,1.1972,0.4989,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2010-07-22,45.8730,45.1347,45.6635,1.3369,0.2195,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2010-07-23,45.9927,45.2744,45.9528,0.7183,0.1197,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2010-07-26,46.3518,45.8031,46.3319,0.5487,0.3591,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2010-07-27,46.6112,46.1024,46.3119,0.5088,0.2594,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010-07-28,46.4716,45.7732,45.9428,0.6984,0.0000,0.3292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010-07-29,46.3020,45.1447,45.6036,1.1573,0.0000,0.6285,12.229600,3.082800,2.095100,25.207693,17.131386,8.076307,42.339079,19.075301,NaN
15,2010-07-30,45.9827,44.9651,45.7034,1.0176,0.0000,0.1796,12.373657,2.862600,2.125050,23.134632,17.173985,5.960647,40.308616,14.787525,NaN
16,2010-08-02,46.6811,46.1025,46.5614,0.9777,0.6984,0.0000,12.467524,3.356529,1.973261,26.922173,15.827205,11.094968,42.749379,25.953519,NaN
17,2010-08-03,46.5913,46.1423,46.3618,0.4490,0.0000,0.0000,12.025987,3.116777,1.832314,25.917012,15.236284,10.680728,41.153296,25.953519,NaN
18,2010-08-04,46.8806,46.3918,46.8287,0.5188,0.2893,0.0000,11.685788,3.183450,1.701434,27.242062,14.559857,12.682206,41.801919,30.338812,NaN
19,2010-08-05,46.8108,46.4117,46.7210,0.4170,0.0000,0.0000,11.268089,2.956060,1.579903,26.233911,14.021038,12.212873,40.254949,30.338812,NaN
20,2010-08-06,46.7409,45.9428,46.6511,0.7981,0.0000,0.4689,11.261325,2.744913,1.935953,24.374691,17.191163,7.183528,41.565853,17.282282,NaN
21,2010-08-09,47.0801,46.6811,46.9704,0.4290,0.3392,0.0000,10.885945,2.888048,1.797670,26.530062,16.513683,10.016379,43.043745,23.270232,NaN
22,2010-08-10,46.8407,46.1723,46.5639,0.7981,0.0000,0.5088,10.906477,2.681759,2.178065,24.588680,19.970384,4.618296,44.559064,10.364437,NaN
23,2010-08-11,45.8131,45.1048,45.2943,1.4591,0.0000,1.0675,11.586543,2.490205,3.089989,21.492214,26.668776,5.176563,48.160990,10.748456,NaN
24,2010-08-12,45.1347,44.3465,44.9352,0.9478,0.0000,0.7583,11.706733,2.312333,3.627576,19.752162,30.987089,11.234927,50.739251,22.142477,NaN
25,2010-08-13,44.9551,44.6059,44.6159,0.3492,0.0000,0.0000,11.219738,2.147166,3.368463,19.137401,30.022655,10.885254,49.160056,22.142477,NaN
26,2010-08-16,45.0050,44.1969,44.6957,0.8081,0.0000,0.4090,11.226428,1.993797,3.536859,17.759854,31.504756,13.744902,49.264609,27.900153,21.561385
27,2010-08-17,45.6734,44.9252,45.2664,0.9777,0.6684,0.0000,11.402240,2.519783,3.284226,22.099018,28.803339,6.704321,50.902357,13.170944,20.962068
28,2010-08-18,45.7133,45.0050,45.4440,0.7083,0.0399,0.0000,11.296095,2.379699,3.049638,21.066561,26.997281,5.930720,48.063842,12.339255,20.346152
29,2010-08-19,45.3542,44.4563,44.7556,0.9877,0.0000,0.5487,11.476931,2.209720,3.380507,19.253581,29.454801,10.201220,48.708382,20.943458,20.388817

In [66]:
adx_data = pd.read_excel("cs-adx.xlsx")
adx_data.head()

,Unnamed: 0,High,Low,Close,TR,+DM 1,-DM 1,TR14,+DM14,-DM14,+DI14,-DI14,DI 14 Diff,DI 14 Sum,DX,ADX
0,2010-07-09,44.5261,43.9774,44.5161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-07-12,44.9252,44.3565,44.6458,0.5687,0.3991,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-07-13,45.3941,44.6957,45.2245,0.7483,0.4689,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-07-14,45.7034,45.1347,45.4539,0.5687,0.3093,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-07-15,45.6335,44.8853,45.4938,0.7482,0.0000,0.2494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ATR kısmı

In [68]:
adx_data["New ATR23"] = 0
adx_data["New ATR23"]

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
Name: New ATR23, dtype: int64

In [69]:
from atr import ATR

adx_data["New ATR23"][13:] = ATR([adx_data["High"],adx_data["Low"],adx_data["Close"]],14).average_true_range()

C:\Users\bhrak\AppData\Local\Temp\ipykernel_40300\648167295.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adx_data["New ATR23"][13:] = ATR([adx_data["High"],adx_data["Low"],adx_data["Close"]],14).average_true_range()

In [70]:
adx_data["New ATR23"]

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.830071
14    0.853445
15    0.865170
16    0.873208
17    0.842908
18    0.819757
19    0.790989
20    0.791497
21    0.765604
22    0.767925
23    0.817295
24    0.826617
25    0.792515
26    0.793629
27    0.806777
28    0.799742
29    0.813168
Name: New ATR23, dtype: float64

In [51]:
adx_data["TR"]

0        NaN
1     0.5687
2     0.7483
3     0.5687
4     0.7482
5     1.3250
6     0.7084
7     1.3967
8     1.1972
9     1.3369
10    0.7183
11    0.5487
12    0.5088
13    0.6984
14    1.1573
15    1.0176
16    0.9777
17    0.4490
18    0.5188
19    0.4170
20    0.7981
21    0.4290
22    0.7981
23    1.4591
24    0.9478
25    0.3492
26    0.8081
27    0.9777
28    0.7083
29    0.9877
Name: TR, dtype: float64

### +DM KISMI

In [35]:
def plus_dm():
    adx_data["New +DM 1"] = adx_data["High"] - adx_data["High"].shift(1)
    plus_dm = adx_data['New +DM 1'][adx_data['New +DM 1'] < 0] = 0
plus_dm()

C:\Users\bhrak\AppData\Local\Temp\ipykernel_40300\2480234380.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus_dm = adx_data['New +DM 1'][adx_data['New +DM 1'] < 0] = 0

In [36]:
adx_data[["New +DM 1","+DM 1"]]

    New +DM 1   +DM 1
0         NaN     NaN
1      0.3991  0.3991
2      0.4689  0.4689
3      0.3093  0.3093
4      0.0000  0.0000
5      0.0000  0.0000
6      0.0000  0.0000
7      0.4489  0.4489
8      0.4989  0.4989
9      0.2195  0.2195
10     0.1197  0.1197
11     0.3591  0.3591
12     0.2594  0.2594
13     0.0000  0.0000
14     0.0000  0.0000
15     0.0000  0.0000
16     0.6984  0.6984
17     0.0000  0.0000
18     0.2893  0.2893
19     0.0000  0.0000
20     0.0000  0.0000
21     0.3392  0.3392
22     0.0000  0.0000
23     0.0000  0.0000
24     0.0000  0.0000
25     0.0000  0.0000
26     0.0499  0.0000
27     0.6684  0.6684
28     0.0399  0.0399
29     0.0000  0.0000

In [8]:
# NOTLAR
# KALICI OLARAK COLUMN SİLME
# adx_data.drop('COLUMN_ADI', axis=1, inplace=True)

### -DM KISMI

In [9]:
def minus_dm():
    adx_data["New -DM 1"] = adx_data["Low"].shift(1) - adx_data["Low"]
    minus_dm = adx_data['New -DM 1'][adx_data['New -DM 1'] < 0] = 0
    adx_data
minus_dm()

C:\Users\bhrak\AppData\Local\Temp\ipykernel_40300\1317318514.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minus_dm = adx_data['New -DM 1'][adx_data['New -DM 1'] < 0] = 0

In [10]:
adx_data[["New -DM 1","-DM 1"]]
# 7. satır yanlış ?

    New -DM 1   -DM 1
0         NaN     NaN
1      0.0000  0.0000
2      0.0000  0.0000
3      0.0000  0.0000
4      0.2494  0.2494
5      0.6884  0.6884
6      0.1996  0.1996
7      0.2394  0.0000
8      0.0000  0.0000
9      0.0000  0.0000
10     0.0000  0.0000
11     0.0000  0.0000
12     0.0000  0.0000
13     0.3292  0.3292
14     0.6285  0.6285
15     0.1796  0.1796
16     0.0000  0.0000
17     0.0000  0.0000
18     0.0000  0.0000
19     0.0000  0.0000
20     0.4689  0.4689
21     0.0000  0.0000
22     0.5088  0.5088
23     1.0675  1.0675
24     0.7583  0.7583
25     0.0000  0.0000
26     0.4090  0.4090
27     0.0000  0.0000
28     0.0000  0.0000
29     0.5487  0.5487

In [72]:
adx_data.head()

,Unnamed: 0,High,Low,Close,TR,+DM 1,-DM 1,TR14,+DM14,-DM14,+DI14,-DI14,DI 14 Diff,DI 14 Sum,DX,ADX,zeros,New ATR23
0,2010-07-09,44.5261,43.9774,44.5161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
1,2010-07-12,44.9252,44.3565,44.6458,0.5687,0.3991,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
2,2010-07-13,45.3941,44.6957,45.2245,0.7483,0.4689,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
3,2010-07-14,45.7034,45.1347,45.4539,0.5687,0.3093,0.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
4,2010-07-15,45.6335,44.8853,45.4938,0.7482,0.0000,0.2494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0

In [78]:
adx_data["+DM14"]

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14    3.082800
15    2.862600
16    3.356529
17    3.116777
18    3.183450
19    2.956060
20    2.744913
21    2.888048
22    2.681759
23    2.490205
24    2.312333
25    2.147166
26    1.993797
27    2.519783
28    2.379699
29    2.209720
Name: +DM14, dtype: float64

### SMOOTHED +DM14, -DM14, ATR
Smooth the 14-period averages of +DM, -DM, and the TR. Below is the formula for TR. <br>
Insert the -DM and +DM values to calculate the smoothed averages of those as well. <br>
First 14TR = Sum of first 14 TR readings. <br>
Next 14TR value = First 14TR - (Prior 14TR/14) + Current TR <br>

In [88]:
def smoothed_plus_dm14():
    first_14_plus_dm = adx_data["+DM 1"].rolling(14).sum()
    adx_data["smoothed_plus_dm14"] = first_14_plus_dm - (first_14_plus_dm/14) + adx_data["+DM 1"]
    # 8. Formülde ve yazıda yazılan şey farklı. 
    # next_14_plus_dm = first_14_plus_dm - (first_14_plus_dm.shift(1)/14) + first_14_plus_dm
smoothed_plus_dm14()
adx_data[["smoothed_plus_dm14"]]

    smoothed_plus_dm14
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14            2.862600
15            2.492007
16            3.403514
17            2.417907
18            2.975843
19            2.686543
20            2.686543
21            2.923879
22            2.121414
23            1.917593
24            1.806443
25            1.472993
26            1.232121
27            2.521179
28            1.929729
29            1.889829

In [80]:
def smoothed_minus_dm14():
    first_14_minus_dm = adx_data["New -DM 1"].rolling(15).sum()
    adx_data["smoothed_minus_dm14"] = first_14_minus_dm - (first_14_minus_dm/14) + adx_data["-DM14"]
    # 8. Formülde ve yazıda yazılan şey farklı. 
    # next_14_minus_dm = first_14_minus_dm - (first_14_minus_dm.shift(1)/14) + first_14_minus_dm
smoothed_minus_dm14()
adx_data[["smoothed_minus_dm14"]]

KeyError: 'New -DM 1'

In [13]:
def smoothed_atr_14():
    first_14_atr = adx_data["New TR"].rolling(1).sum()
    adx_data["smoothed_tr"] = first_14_atr - (first_14_atr/14) + adx_data["New TR"]
    # 8. Formülde ve yazıda yazılan şey farklı. 
    # next_14_minus_dm = first_14_minus_dm - (first_14_minus_dm.shift(1)/14) + first_14_minus_dm
smoothed_atr_14()
adx_data[["smoothed_tr"]]

    smoothed_tr
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14    12.513357
15    12.790493
16    12.963607
17    12.323757
18    12.180543
19    11.235600
20    11.699993
21    10.432314
22    10.430821
23    11.205293
24    10.907100
25    10.123250
26    10.860071
27    11.289021
28    10.602693
29    10.854329

In [14]:
adx_data

,Unnamed: 0,High,Low,Close,TR,+DM 1,-DM 1,TR14,+DM14,-DM14,...,DI 14 Diff,DI 14 Sum,DX,ADX,New TR,New +DM 1,New -DM 1,smoothed_plus_dm14,smoothed_minus_dm14,smoothed_tr
0,2010-07-09,44.5261,43.9774,44.5161,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-07-12,44.9252,44.3565,44.6458,0.5687,0.3991,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5687,0.3991,0.0000,NaN,NaN,NaN
2,2010-07-13,45.3941,44.6957,45.2245,0.7483,0.4689,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.7483,0.4689,0.0000,NaN,NaN,NaN
3,2010-07-14,45.7034,45.1347,45.4539,0.5687,0.3093,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5687,0.3093,0.0000,NaN,NaN,NaN
4,2010-07-15,45.6335,44.8853,45.4938,0.7482,0.0000,0.2494,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.7482,0.0000,0.2494,NaN,NaN,NaN
5,2010-07-16,45.5219,44.1969,44.2368,1.3250,0.0000,0.6884,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.3250,0.0000,0.6884,NaN,NaN,NaN
6,2010-07-19,44.7057,43.9973,44.6159,0.7084,0.0000,0.1996,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.7084,0.0000,0.1996,NaN,NaN,NaN
7,2010-07-20,45.1546,43.7579,45.1546,1.3967,0.4489,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.3967,0.4489,0.2394,NaN,NaN,NaN
8,2010-07-21,45.6535,44.4563,44.5361,1.1972,0.4989,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.1972,0.4989,0.0000,NaN,NaN,NaN
9,2010-07-22,45.8730,45.1347,45.6635,1.3369,0.2195,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.3369,0.2195,0.0000,NaN,NaN,NaN
10,2010-07-23,45.9927,45.2744,45.9528,0.7183,0.1197,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.7183,0.1197,0.0000,NaN,NaN,NaN
11,2010-07-26,46.3518,45.8031,46.3319,0.5487,0.3591,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5487,0.3591,0.0000,NaN,NaN,NaN
12,2010-07-27,46.6112,46.1024,46.3119,0.5088,0.2594,0.0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5088,0.2594,0.0000,NaN,NaN,NaN
13,2010-07-28,46.4716,45.7732,45.9428,0.6984,0.0000,0.3292,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.6984,0.0000,0.3292,NaN,NaN,NaN
14,2010-07-29,46.3020,45.1447,45.6036,1.1573,0.0000,0.6285,12.229600,3.082800,2.095100,...,8.076307,42.339079,19.075301,NaN,1.1573,0.0000,0.6285,5.945400,4.262850,12.513357
15,2010-07-30,45.9827,44.9651,45.7034,1.0176,0.0000,0.1796,12.373657,2.862600,2.125050,...,5.960647,40.308616,14.787525,NaN,1.0176,0.0000,0.1796,5.354607,4.459571,12.790493
16,2010-08-02,46.6811,46.1025,46.5614,0.9777,0.6984,0.0000,12.467524,3.356529,1.973261,...,11.094968,42.749379,25.953519,NaN,0.9777,0.6984,0.0000,6.061643,4.307782,12.963607
17,2010-08-03,46.5913,46.1423,46.3618,0.4490,0.0000,0.0000,12.025987,3.116777,1.832314,...,10.680728,41.153296,25.953519,NaN,0.4490,0.0000,0.0000,5.534684,4.166835,12.323757
18,2010-08-04,46.8806,46.3918,46.8287,0.5188,0.2893,0.0000,11.685788,3.183450,1.701434,...,12.682206,41.801919,30.338812,NaN,0.5188,0.2893,0.0000,5.869992,3.804370,12.180543
19,2010-08-05,46.8108,46.4117,46.7210,0.4170,0.0000,0.0000,11.268089,2.956060,1.579903,...,12.212873,40.254949,30.338812,NaN,0.4170,0.0000,0.0000,5.642603,3.043610,11.235600
20,2010-08-06,46.7409,45.9428,46.6511,0.7981,0.0000,0.4689,11.261325,2.744913,1.935953,...,7.183528,41.565853,17.282282,NaN,0.7981,0.0000,0.4689,5.431456,3.649724,11.699993
21,2010-08-09,47.0801,46.6811,46.9704,0.4290,0.3392,0.0000,10.885945,2.888048,1.797670,...,10.016379,43.043745,23.270232,NaN,0.4290,0.3392,0.0000,5.472727,3.289142,10.432314
22,2010-08-10,46.8407,46.1723,46.5639,0.7981,0.0000,0.5088,10.906477,2.681759,2.178065,...,4.618296,44.559064,10.364437,NaN,0.7981,0.0000,0.5088,4.803173,4.141994,10.430821
23,2010-08-11,45.8131,45.1048,45.2943,1.4591,0.0000,1.0675,11.586543,2.490205,3.089989,...,5.176563,48.160990,10.748456,NaN,1.4591,0.0000,1.0675,4.407797,6.045168,11.205293
24,2010-08-12,45.1347,44.3465,44.9352,0.9478,0.0000,0.7583,11.706733,2.312333,3.627576,...,11.234927,50.739251,22.142477,NaN,0.9478,0.0000,0.7583,4.118776,7.286890,10.907100
25,2010-08-13,44.9551,44.6059,44.6159,0.3492,0.0000,0.0000,11.219738,2.147166,3.368463,...,10.885254,49.160056,22.142477,NaN,0.3492,0.0000,0.0000,3.620159,7.027778,10.123250
26,2010-08-16,45.0050,44.1969,44.6957,0.8081,0.0000,0.4090,11.226428,1.993797,3.536859,...,13.744902,49.264609,27.900153,21.561385,0.8081,0.0499,0.4090,3.272254,7.575959,10.860071
27,2010-08-17,45.6734,44.9252,45.2664,0.9777,0.6684,0.0000,11.402240,2.519783,3.284226,...,6.704321,50.902357,13.170944,20.962068,0.9777,0.6684,0.0000,4.418897,7.017640,11.289021
28,2010-08-18,45.7133,45.0050,45.4440,0.7083,0.0399,0.0000,11.296095,2.379699,3.049638,...,5.930720,48.063842,12.339255,20.346152,0.7083,0.0399,0.0000,4.315863,6.199446,10.602693
29,2010-08-19,45.3542,44.4563,44.7556,0.9877,0.0000,0.5487,11.476931,2.209720,3.380507,...,10.201220,48.708382,20.943458,20.388817,0.9877,0.0000,0.5487,4.145884,6.873050,10.854329

### +DI , -DI

In [15]:
def plus_di():
    adx_data["New +DI"] = (smoothed_plus_dm14/smoothed_atr_14) *100
    return

In [16]:
abc = (smoothed_plus_dm14()/smoothed_atr_14()) *100

TypeError: unsupported operand type(s) for /: 'NoneType' and 'NoneType'

In [ ]:
k = pd.Series(smoothed_atr_14())
k

C:\Users\bhrak\AppData\Local\Temp\ipykernel_143128\4247027603.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series(smoothed_atr_14())

Series([], dtype: float64)